<div class="connectfour-tile-container" @onclick="Click">
    <div class="connectfour-tile" style="@StyleString">
    </div>
</div>
@code {
    private string StyleString => Model is not null ? $"background-color:{Model?.Color.ToString().ToLowerInvariant()};" : "background-color: white;";
    [Parameter] public Tile? Model { get; set; }
    [Parameter] public Action? OnClick { get; set; }

    
    private void Click()
    {
        if(OnClick is not null)
        {
            OnClick.Invoke();
        }
    }
}
